<article>
  <section class="lists">
    <div class="accordion" id="accordionExample">
      {{#each categories}}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{@index}}">
            <button
              class="accordion-button collapsed" 
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{@index}}"
              aria-expanded="false"
              aria-controls="collapse{{@index}}"
            >
              {{this.Category}}
            </button>
          </h2>
          <div
            id="collapse{{@index}}"
            class="accordion-collapse collapse"
            aria-labelledby="heading{{@index}}"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul class="list-group">
                {{#each this.Products}}
                  <li  class="list-group-item">
                    <strong>{{this.2.Name}}
                    {{this.3.Name_subtitle}} </strong> <br> 
                    {{#if this.20.DOP_Refrigerate_Min}}
                    refrigeration period: {{this.20.DOP_Refrigerate_Min}} - {{this.21.DOP_Refrigerate_Max}} {{this.22.DOP_Refrigerate_Metric}} <br>
                    {{/if}}
                    {{#if this.34.DOP_Freeze_Min}}
                    freeze period: {{this.34.DOP_Freeze_Min}} - {{this.35.DOP_Freeze_Max}} {{this.36.DOP_Freeze_Metric}} <br>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</article>