<article class="show">
  <h1 class="headers">{{show.name}}</h1>
  {{#if show.image.medium}}
    <img src={{show.image.medium}} alt="Show Art" />
  {{else}}
    <img src="/public/noimage.png" alt="Show Art" />
  {{/if}}
  <div><dl>
      <dt>Language</dt>
      {{#if show.language}}
        <dd class="showtext">{{show.language}}</dd>
      {{else}}
        <dd class="showtext">N/A</dd>
      {{/if}}
      <dt>Genres</dt>
      <dd>
        <ul>{{#each show.genres}}
            <li class="showtext">{{this}}</li>
          {{else}}
            <li class="showtext">N/A</li>
          {{/each}}
        </ul>
      </dd>
      <dt>Average Rating</dt>
      {{#if show.rating.average}}
        <dd class="showtext">{{show.rating.average}}</dd>
      {{else}}
        <dd class="showtext">N/A</dd>
      {{/if}}
      <dt>Network</dt>
      {{#if show.network.name}}
        <dd class="showtext">{{show.network.name}}</dd>
      {{else}}
        <dd class="showtext">N/A</dd>
      {{/if}}
      <dt>Summary</dt>
      {{#if show.summary}}
        <dd class="showtext">{{{show.summary}}}</dd>
      {{else}}
        <dd class="showtext">N/A</dd>
      {{/if}}
    </dl></div>
</article>